<header>
  <nav>
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a
          class="nav-link"
          *ngIf="!authService.isAuthenticated()"
          routerLink="/login"
          >Login</a
        >
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          *ngIf="!authService.isAuthenticated()"
          routerLink="/register"
          >Register</a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/pipes">Pipes</a>
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          *ngIf="authService.isAuthenticated()"
          routerLink="/users"
          >Users</a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/expenses">Expenses</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/products">Products</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/lazy">Lazy</a>
      </li>
    </ul>
  </nav>
</header>
