<div class="row">
  <div class="col-8 offset-2">
    <div class="card">
      <div class="card-header">
        <h2 class="text-center">Registration Form</h2>
      </div>
      <div class="card-body">
        <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
          <!-- username -->
          <div class="form-floating mb-3">
            <input
              type="text"
              class="form-control"
              name="username"
              id="username"
              placeholder=""
              formControlName="username"
            />
            <label for="username">Username</label>
          </div>

          <!-- password -->
          <div class="form-floating mb-3">
            <input
              type="password"
              class="form-control"
              name="password"
              id="password"
              placeholder=""
              formControlName="password"
            />
            <label for="password">Password</label>
          </div>

          <!-- buttons = Register, Reset -->
          <div class="row">
            <div class="col">
              <div class="d-grid">
                <button type="submit" class="btn btn-success">Register</button>
              </div>
            </div>
            <div class="col">
              <div class="d-grid">
                <button class="btn btn-secondary">Reset</button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
