<div class="container">
  <app-header></app-header>

  <br />

  <app-i-am-eager></app-i-am-eager>

  <router-outlet></router-outlet>
  <!-- <app-directive-example></app-directive-example> -->

  <!-- <input type="text" [(ngModel)]="title" />
  <br />

  <button class="btn btn-primary" (click)="toggle = !toggle">Toggle</button>

  <app-life-cycle *ngIf="toggle" [title]="title"></app-life-cycle> -->

  <!-- <app-pipe-example></app-pipe-example> -->

  <!-- <app-login></app-login> -->

  <!-- <app-register></app-register> -->

  <!-- <app-counter-a></app-counter-a>

  <hr />

  <app-counter-b></app-counter-b> -->

  <!-- <app-observable-example></app-observable-example> -->

  <!-- <app-expenses></app-expenses> -->

  <!-- <app-users></app-users> -->
</div>
