<div class="row">
  <div class="col-8 offset-2">
    <div class="card">
      <div class="card-header">
        <h2 class="text-center">Login Form</h2>
      </div>
      <div class="card-body">
        <form #loginForm="ngForm">
          <!-- email -->
          <div class="form-floating mb-3">
            <input
              type="text"
              class="form-control"
              name="email"
              id="email"
              placeholder=""
              ngModel
              required
              email
              #emailInput="ngModel"
            />
            <label for="email">Email:</label>
            <div *ngIf="emailInput.dirty && emailInput.touched">
              <div *ngIf="emailInput.errors">
                <p
                  *ngIf="emailInput.hasError('required')"
                  class="alert alert-danger"
                >
                  *Email is mandatory field
                </p>
                <p
                  *ngIf="emailInput.hasError('email')"
                  class="alert alert-danger"
                >
                  *Email field should be in proper email format
                </p>
              </div>
            </div>
          </div>

          <!-- password -->
          <div class="form-floating mb-3">
            <input
              type="password"
              class="form-control"
              name="password"
              id="password"
              placeholder=""
              required
              minlength="6"
              ngModel
            />
            <label for="password">Password</label>
          </div>

          <!-- buttons - Submit / Reset -->
          <div class="row">
            <div class="col">
              <div class="d-grid">
                <button [disabled]="!loginForm.valid" class="btn btn-primary">
                  Login
                </button>
              </div>
            </div>
            <div class="col">
              <div class="d-grid">
                <button
                  class="btn btn-secondary"
                  (click)="loginForm.resetForm()"
                >
                  Reset
                </button>
              </div>
            </div>
          </div>
          <p>Form Value : {{ loginForm.value | json }}</p>
          <p>Valid : {{ loginForm.valid }}</p>
          <p>Dirty : {{ loginForm.dirty }}</p>

          <p>Email Input Valid : {{ emailInput.valid }}</p>
          <p>Email Input Error : {{ emailInput.errors | json }}</p>
        </form>
      </div>
    </div>
  </div>
</div>
