<div class="backdrop">
  <div class="my-modal">
    <h2 class="text-center">Add New Expense</h2>
    <form [formGroup]="newExpenseForm" (ngSubmit)="onSubmit()">
      <!-- title -->
      <div class="form-floating mb-3">
        <input
          type="text"
          class="form-control"
          name="title"
          id="title"
          placeholder=""
          formControlName="title"
        />
        <label for="title">Title</label>
      </div>

      <!-- amount -->
      <div class="form-floating mb-3">
        <input
          type="number"
          class="form-control"
          name="amount"
          id="amount"
          placeholder=""
          formControlName="amount"
        />
        <label for="amount">Amount</label>
      </div>

      <!-- createdAt -->
      <div class="form-floating mb-3">
        <input
          type="date"
          class="form-control"
          name="createdAt"
          id="createdAt"
          placeholder=""
          formControlName="createdAt"
        />
        <label for="createdAt">Creation Date</label>
      </div>

      <!-- buttons - Add, close -->
      <div class="row">
        <div class="col">
          <div class="d-grid">
            <button class="btn btn-primary" type="submit">Add</button>
          </div>
        </div>
        <div class="col">
          <div class="d-grid">
            <button class="btn btn-secondary" (click)="onClose()">Close</button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
