<h2 class="text-center">My Expense</h2>

<div class="row mb-4">
  <div class="col-4 offset-4">
    <div class="d-grid">
      <button class="btn btn-secondary" (click)="toggle = !toggle">
        Add New Expense
      </button>
    </div>
  </div>
</div>

<app-expense-form
  *ngIf="toggle"
  (onCloseEvent)="onCloseForm()"
  (onExpenseFormEvent)="onAddNewExpense($event)"
></app-expense-form>

<app-expense-form
  (onCloseEvent)="toggleEdit = false"
  *ngIf="toggleEdit"
  [expense]="expenseEdit"
  (onExpenseFormEvent)="onEditExpense($event)"
></app-expense-form>

<div class="row mb-3">
  <div class="col-4" *ngFor="let expense of expenses">
    <div class="card">
      <div class="card-header">
        <h4 class="text-center">
          {{ expense.title | uppercase }}
        </h4>
      </div>
      <div class="card-body">
        <p>Amount : {{ expense.amount | currency }}</p>
        <p>Created At : {{ expense.createdAt | date }}</p>
        <div class="float-end">
          <button class="btn btn-outline-success" (click)="onEdit(expense)">
            Edit
          </button>
          <button class="btn btn-outline-danger" (click)="onDelete(expense.id)">
            Delete
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
