<ul class="list-group">
  <li class="list-group-item" *ngFor="let user of users">
    <div class="row">
      <div class="col-4">
        <!-- user-image -->
        <app-user-img
          [user]="user"
          (childEvent)="onMoreInfo($event)"
        ></app-user-img>
      </div>

      <div class="col-8">
        <!-- user-info -->
        <app-user-info [user]="user">
          <h2 class="heading">{{ user.firstName }} {{ user.lastName }}</h2>
          <p class="user-income">Income : {{ user.income }}</p>
        </app-user-info>
      </div>
    </div>
  </li>
</ul>
